*.whl
*.pkl
/processed_data/
/experiment_logs/
/saved_models/
/saved_metrics/
/saved_results/
/logs/
/data/
/checkpoints/
/DyGMamba/
/results_csv/
/current_sh/
*.pt
*.pth
*.ckpt
*.tar
*.tar.gz
*.whl
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
__pycache__/
# Never commit overlays/containers/datasets
overlay.img
*.sif
processed_data/**
# keep the folder structure if you want
!processed_data/.gitkeep