*.sh.o*
*.whl
*.pkl
/old_ex/
/processed_data/
/experiment_logs/
/saved_models/
/saved_metrics/
/saved_results/
/completion_analysis/
/combined_results/
/logs/
/data/
/checkpoints/
/evaluation_results/
/DyGMamba/
/results/
/resume_jobs/
/results_csv/
/temp_check/
/current_sh/
/old_sh/
/mnist_experiments/
/optuna_results/
/results_all_cal/
*.zip
*.pt
*.pth
*.ckpt
*.tar
*.tar.gz
*.whl
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
__pycache__/
repo-bacup.git/
so_experiments/
# Never commit overlays/containers/datasets
overlay.img
*.sif
processed_data/**
# keep the folder structure if you want
!processed_data/.gitkeeptest_kmmv2_partial.tar.zst
test_kmmv2_partial.tar.zst
