*.whl
*.pkl
/processed_data/
/experiment_logs/
/saved_models/
/saved_metrics/
/saved_results/
/completion_analysis/
/combined_results/
/logs/
/data/
/checkpoints/
/evaluation_results/
/DyGMamba/
/results_csv/
/current_sh/
/mnist_experiments/
/sh_scripts/
/resume_jobs/
/optuna_results/
/results_all_cal/
*.zip
*.pt
*.pth
*.ckpt
*.tar
*.tar.gz
*.whl
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
__pycache__/
# Never commit overlays/containers/datasets
overlay.img
*.sif
processed_data/**
# keep the folder structure if you want
!processed_data/.gitkeep